.player-zone {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    grid-auto-rows: auto;
    grid-row-gap: 40px;
}

.playpile {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.playpile .card {
    margin-left: -60px;
}

.drawpile {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.start-game {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}